/* h1 {
    color: white;
    background-color: blue;
    float: none;
    text-align: center;
    padding: 20px;
    text-decoration: solid;
    margin: 50px;

} */

/* select {
    font-size: 20px;
} */

/* label {
    font-size: 20px;
} */



/* li {
    list-style-type: none;
    display: inline;
    padding: 20px;
    font-size: 20px;
}li {
    list-style-type: none;
    display: inline;
    padding: 10px;

}

ul {
    padding: 10 px;
}

body {
    margin: 0%;
}

.nav {
    background-color: purple;
}

a {
    text-decoration: none;
    color: white;
    padding: 50px;
    margin: 10px;
} */

.class1 {
    background-color: blue;
}